
<div class="container">
  <%= render 'shared/errors' %>
  <%= form_with(model: @article) do |f| %>
    <div class="container shadow p-4 bg-white rounded">
      <div class="form-group row mb-4">
        <%= f.label :title, class: "col-2 col-form-label" %><br/>
        <div class="col-10">
          <%= f.text_field :title, class: "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :description, class: "col-2 col-form-label" %><br/>
        <div class="col-10">
          <%= f.text_area :description, rows: 10, class: "form-control"  %>
        </div>
      </div>
    </div>

    <div class="shadow rounded mt-2" style="float: right">
      <a type="button"> <%= f.submit class: "btn btn-outline-success" %> </a>
      <a type="button"> <%= link_to 'Cancel', articles_path, class: "btn btn-outline-danger" %> </a>
    </div>
  <% end %>
    
</div>