<h1 class="text-center my-4"><%= @article.title %></h1>

<div class="container">
  <div class="row justify-content-md-center">  
    <div class="col-md-8">
      <div class="card text-center shadow my-2 bg-white rounded">
        <div class="card-header">
          by <%= @article.user.user_name if @article.user %>
          <h5 class="card-title"><%= link_to gravatar_for(@article.user), user_path(@article.user) %></h5>
          <% if @article.categories.any? %>
            <div class="mt-2"><%= render @article.categories %></div> 
          <% end %>
        </div>
        <div class="card-body">
          <div class="card-text" style="text-align: initial"><%= simple_format(@article.description) %></div>
          <% if logged_in? && (@article.user == current_user || current_user.admin?) %>
            <a type="button"> <%= link_to "Edit", edit_article_path(@article), class: "btn btn-outline-primary" %> </a>
            <a type="button"> <%= button_to "Delete", article_path(@article), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %> </a>
          <% end %>
        </div>
        <div class="card-footer text-muted">
          <small>Created <%= time_ago_in_words(@article.created_at) %> ago, Edited <%= time_ago_in_words(@article.updated_at) %> ago </small>
        </div>
      </div>
    </div>
  </div>
</div>