<nav class="navbar navbar-expand-lg bg-secondary">
  <div class="container-fluid bg-secondary">
    <%= link_to "G BLOG", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <strong><li class="nav-item">
          <%= link_to "Bloggers", users_path, class: "nav-link" %>
        </li></strong>
        <strong><li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Articles
          </a>
          <ul class="dropdown-menu">
          <% if logged_in? %>
            <li><%= link_to "Create new article", new_article_path, class: "dropdown-item text-dark" %></li>
          <% end %>
            <li><%= link_to "View articles", articles_path, class: "dropdown-item text-dark" %></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li></strong>
        <% if logged_in? %>
          <strong><li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= current_user.user_name %>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "View profile", user_path(current_user), class: "dropdown-item text-dark" %></li>
              <li><%= link_to "Edit profile", edit_user_path(current_user), class: "dropdown-item text-dark" %></li>
              <li><hr class="dropdown-divider"></li>
              <li><%= link_to "Logout", logout_path, class: "dropdown-item text-dark", method: :delete %></li>
            </ul>
          </li></strong>
        <% else %>
          <strong><li class="nav-item">
            <%= link_to "Log in", login_path, class: "nav-link" %>
          </li></strong>
        <% end%>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-dark" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>